body {
  /* 'Roboto', 'Roboto Slab' */
  /* display: grid;
    grid-template-areas:
        "nav"
        "main"
        "foot"; */
  /* display: flex;
    grid-gap: 5rem; */
  display: grid;
  grid-template-areas:
    "nav"
    "countdown"
    "button";

  grid-gap: 2rem;

  /* padding-top: 6rem; */
  height: 100%;
  background-color: #1c202a;
  font: normal 13px/20px;
  /* font-family: "Open Sans", sans-serif; */
  font-family: "Roboto Slab", serif;
  word-wrap: break-word;
  color: #eee;
}

p {
  font-size: 20px;
  margin: 4px;
}

/* Navbar*/
.navbar {
  grid-area: "nav";
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;
  background-color: #1c202a;
  color: white;
  text-decoration: none;
  /* position: fixed; */
  width: 100%;
  margin-top: 0;
  padding: 0;
}

.link {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  color: inherit;
  text-decoration: inherit;
}

.text-link {
  color: inherit;
  text-decoration: inherit;
}

.link:hover,
.link:focus,
.dropdown:hover .dropbtn {
  background-color: red;
  color: inherit;
  text-decoration: inherit;
}

.timer-page {
  padding-top: 6rem;
}

.timer-box {
  grid-area: countdown;
  justify-content: center;
  align-items: center;
  /* display: flex; */
  /* flex-direction: column; */
  /* align-items: center;
      justify-content: center; */
}

.countdown {
  width: 430px;
  height: 120px;
  text-align: center;
  background: #222;
  background-image: -webkit-linear-gradient(top, #222, #333, #333, #222);
  background-image: -moz-linear-gradient(top, #222, #333, #333, #222);
  background-image: -ms-linear-gradient(top, #222, #333, #333, #222);
  background-image: -o-linear-gradient(top, #222, #333, #333, #222);
  border: 1px solid #111;
  border-radius: 5px;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.6);
  margin: auto;
  padding: 24px 0;
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.countdown:before {
  content: "";
  width: 8px;
  height: 65px;
  background: #444;
  background-image: -webkit-linear-gradient(top, #555, #444, #444, #555);
  background-image: -moz-linear-gradient(top, #555, #444, #444, #555);
  background-image: -ms-linear-gradient(top, #555, #444, #444, #555);
  background-image: -o-linear-gradient(top, #555, #444, #444, #555);
  border: 1px solid #111;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  display: block;
  position: absolute;
  top: 48px;
  left: -10px;
}

.countdown:after {
  content: "";
  width: 8px;
  height: 65px;
  background: #444;
  background-image: -webkit-linear-gradient(top, #555, #444, #444, #555);
  background-image: -moz-linear-gradient(top, #555, #444, #444, #555);
  background-image: -ms-linear-gradient(top, #555, #444, #444, #555);
  background-image: -o-linear-gradient(top, #555, #444, #444, #555);
  border: 1px solid #111;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  display: block;
  position: absolute;
  top: 48px;
  right: -10px;
}

.minute {
  font: bold 65px "Roboto", "Roboto Slab";
}

.second {
  font: bold 65px "Roboto", "Roboto Slab";
}

.whitebox {
  width: 92px;
  max-width: 92px;
  text-align: center;
  color: #111;
  background-color: #ddd;
  background-image: -webkit-linear-gradient(top, #bbb, #eee);
  background-image: -moz-linear-gradient(top, #bbb, #eee);
  background-image: -ms-linear-gradient(top, #bbb, #eee);
  background-image: -o-linear-gradient(top, #bbb, #eee);
  border-top: 1px solid #fff;
  border-radius: 3px;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.7);
  margin: 0 7px;
  padding: 7px 0;
  display: inline-block;
  position: relative;
}

.whitebox:before {
  content: "";
  width: 100%;
  height: 13px;
  background: #111;
  display: block;
  padding: 0 3px;
  position: absolute;
  top: 41%;
  left: -3px;
  z-index: -1;
}

.whitebox:after {
  content: "";
  width: 100%;
  height: 1px;
  background: #eee;
  border-top: 1px solid #333;
  display: block;
  position: absolute;
  top: 48%;
  left: 0;
}

.labels {
  width: 100%;
  height: 25px;
  text-align: center;
  position: relative;
  bottom: -7px;
}

li {
  width: 102px;
  font: bold 20px "Roboto Slab";
  color: #f47321;
  text-shadow: 1px 1px 0px #000;
  text-align: center;
  text-transform: uppercase;
  display: inline-block;
}

p {
  font-size: 20px;
  margin: 4px;
}

.buttonBlock {
  /* font: normal 13px/20px;
      font-family: "Open Sans", sans-serif;
      word-wrap: break-word;
      color: #eee; */
  grid-area: button;
  padding-top: 20px;
  padding-bottom: 50px;
  text-align: center;
}

.ActiveButton,
.ButtonDisabled {
  list-style-type: none;
  margin-bottom: 1rem;
  margin-bottom: 0;

  border: solid 2px #fff;
  border-radius: 4px;
  color: #fff;
  display: inline-block;
  font-weight: 800;
  font-size: 1.3rem;
  padding: 1rem;
  /* padding: calc(1rem - 2px); */
  text-decoration: none;
  transition: all 0.2s ease;
  vertical-align: middle;
  width: 7.2rem;
  height: 4rem;
}

.ActiveButton:hover {
  background: #737d9c;
  border-color: #737d9c;
}

.ActiveButton {
  background-color: #e0280c;
  border-color: #e0280c;
  border: none;
  border-bottom: solid 4px #c0180c;
  color: #fff;
}

.ActiveButton:hover {
  background: #f0382c;
  border-color: #c0180c;
}

.ActiveButton:active {
  background: #c0180c;
}

.ActiveButton .minor {
  border: none;
  color: #c1c1c1;
  display: inline-block;
  padding: 0.5rem;
}

.ActiveButton .minor:hover {
  background: none;
  color: #fff;
}

.ButtonDisabled {
  background: none;
  border: solid 2px #969696;
  color: #969696;
  pointer-events: none;
}

.logo-container {
  justify-items: center;
  align-items: center;
}

.signin-container {
  /* display: flex; */
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
}

.slogon {
  margin-bottom: 0rem;
  margin-top: 1rem;
}

.wisdom-line__One {
  margin-bottom: 0.2rem;
  margin-top: 1rem;
}

.wisdom-line__Two {
  margin-bottom: 1rem;
  margin-top: 0.2rem;
}

.foot {
  grid-area: foot;
  /* display: flex; */
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
}
