<!DOCTYPE html>
<html>

<head>
    <title>LFG</title>
    <script type="text/javascript" src="/assets/timer/jquery.js"></script>
    <!-- <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"> -->
    <link rel="stylesheet" type="text/css" href="/assets/timer/timerstyles.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Slab:wght@400;700;800;900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    {{template "navbar" . }}
    <div class="box">
        <div id="countdown">
            <div id='tiles'>
                <span class="minutes" id="minute"></span>
                <span class="seconds" id="second"></span>
                <div class="labels">
                    <!-- <li>Days</li>
<li>Hours</li> -->
                    <li>Mins</li>
                    <li>Secs</li>
                </div>
            </div>
        </div>
        <div id="buttonBlock">
            <button class="start myButton">Start</button>
            <!--         <button id="start">start</button> -->
            <!--  <button id="pause">Pause</button> -->
            <button class="pause myButton" id="myButtonDisabled" disabled="true">Pause</button>
        </div>
        <div class="textbox">
            <p>
                <span id="demo"><span id="demo1"></span></span>
            </p>

        </div>
    </div>
    <div class="foot">
        {{template "footer"}}
    </div>

    <audio class="my_audio" preload="none">
        <source src="/assets/welldone.mp3" type="audio/mpeg">

    </audio>
    <!-- <button onclick="play_audio('play')">PLAY</button>
    <button onclick="play_audio('stop')">STOP</button> -->
    <script type="text/javascript" src="/assets/timer/timer.js"></script>

</body>

</html>