{{define "yield"}}
<div class="row">
    <div class="col-md-12">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Owner</th>
                    <th>Date</th>
                    <th>Duration</th>
                </tr>
            </thead>

            <tbody>
                {{range .}}
                <tr>
                    <th scope="row">{{.Dateid}}</th>
                    <td>{{.Timed}}</td>
                </tr>
                {{end}}
            </tbody>
        </table>
    </div>
</div>
{{end}}