.main-body {
    display: grid;
    /* grid-gap: 2rem;
     background-color: #1c202a;
     font: normal 13px/20px;
     font-family: "Open Sans", sans-serif;
     word-wrap: break-word;
     color: #eee;
     align-items: center;
     justify-content: center; */
    padding-top: 6rem;
    justify-items: center;
    align-items: center;
    font-family: 'Roboto Slab', serif;
    height: 100%;
}

.buttonList {
    margin-top: 0.5rem
}

.buttons {
    margin: 0;
    padding: 0;
}

.buttons li {
    list-style-type: none;
    margin-bottom: 1rem;
    width: 100%;
}

.buttons li:last-child {
    margin-bottom: 0;
}

.buttons a {
    border: solid 2px #fff;
    border-radius: 4px;
    color: #fff;
    display: block;
    font-weight: 600;
    padding: 1rem;
    padding: calc(1rem - 2px);
    text-decoration: none;
    transition: all 0.2s ease;
    vertical-align: middle;
}

.buttons a:hover {
    background: #737d9c;
    border-color: #737d9c;
}

.buttons .primary {
    background-color: #e0280c;
    border-color: #e0280c;
    border: none;
    border-bottom: solid 4px #c0180c;
    color: #fff;
}

.buttons .primary:hover {
    background: #f0382c;
    border-color: #c0180c;
}

.buttons .primary:active {
    background: #c0180c;
}

.buttons .minor {
    border: none;
    color: #c1c1c1;
    display: inline-block;
    padding: 0.5rem;
}

.buttons .minor:hover {
    background: none;
    color: #fff;
}

.buttons .disabled {
    background: none;
    border: solid 2px #969696;
    color: #969696;
    pointer-events: none;
}



.icon {
    display: inline;
    fill: #fff;
    height: 1.5rem;
    /* width: 2rem; */
    vertical-align: middle;
}

.errorMSG {

    padding: 0;
    margin: 0;
    color: red;
}

.fields {
    display: flex;
    margin-bottom: 0.5rem;

}

form input[type="date"] {
    border: none;
    border-radius: 4px;
    color: #969696;
    font: inherit;
    /* padding: 1rem; */
    width: 100%;
}

form input[type="password"],
form input[type="text"],
form input[type="submit"] {
    border: none;
    border-radius: 4px;
    color: #fff;
    font: inherit;
    /* padding: 1rem; */
    width: 100%;
}

form input[type="date"],
form input[type="password"],
form input[type="text"] {
    background-color: #3b4148;
    border-radius: 0 4px 4px 0;
}

form input[type="date"]:focus,
form input[type="date"]:hover,
form input[type="password"]:focus,
form input[type="password"]:hover,
form input[type="text"]:focus,
form input[type="text"]:hover {
    background-color: #434a52;
    outline: none;
}

form input[type="submit"] {
    cursor: pointer;
    font-weight: 600;
    /* padding: 1rem; */
    padding: calc(1rem - 2px);
    transition: all 0.2s ease;
}

form input[type="submit"]:focus {
    background: #f0382c;
    outline: none;
}

form input[type="submit"]:active {
    background: #c0180c;
}

form label {
    background-color: #363b41;
    border-radius: 4px 0 0 4px;
    /* padding: 1rem; */
}




/* 
h1,
p {
    margin-bottom: 1rem;
    margin-top: 1rem;
}

h1 {
    font-size: 2.5rem;
    font-weight: 700;
    letter-spacing: 0.125rem;
}

p {
    font-size: 1rem;
    font-weight: 400;
} */