/* .mainbody {
    font: normal 13px/20px;
    font-family: "Open Sans", sans-serif;
    word-wrap: break-word;
    color: #eee;

} */

.buttonBlock {
    /* font: normal 13px/20px;
    font-family: "Open Sans", sans-serif;
    word-wrap: break-word;
    color: #eee; */
    padding-top: 20px;
    padding-bottom: 50px;
    text-align: center;
}

/* 
.ActiveButton {
    box-shadow: inset 0px 1px 0px 0px #ffffff;
    background: linear-gradient(to bottom, #f0e7f0 5%, #dfdfdf 100%);
    background-color: #f0e7f0;
    border-radius: 10px;
    border: 1px solid #dcdcdc;
    display: inline-block;
    cursor: pointer;
    color: #5c5c5c;
    font: 900 20px 'Roboto Slab';
    padding: 4px 20px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #ffffff;
    text-transform: uppercase;

}

.ActiveButton:hover {
    background: linear-gradient(to bottom, #dfdfdf 5%, #f0e7f0 100%);
    background-color: #dfdfdf;
    text-transform: uppercase;

}

.ActiveButton:active {
    position: relative;
    top: 1px;
}

.ButtonDisabled {
    box-shadow: inset 0px 1px 0px 0px #ffffff;
    background: linear-gradient(to bottom, #ededed 5%, #ffffff 100%);
    background-color: #ededed;
    border-radius: 10px;
    border: 1px solid #dcdcdc;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font: 900 20px 'Roboto Slab';
    padding: 4px 20px;

    text-decoration: none;
    text-shadow: 0px 1px 0px #ffffff;
    text-transform: uppercase;
} */
/* .ActiveButton {
    margin: 0;
    padding: 0;
} */

/* button {
    list-style-type: none;
    margin-bottom: 1rem;
}

button:last-child {
    margin-bottom: 0;
} */

.ActiveButton,
.ButtonDisabled {
    list-style-type: none;
    margin-bottom: 1rem;
    margin-bottom: 0;

    border: solid 2px #fff;
    border-radius: 4px;
    color: #fff;
    display: inline-block;
    font-weight: 800;
    font-size: 1.3rem;
    padding: 1rem;
    /* padding: calc(1rem - 2px); */
    text-decoration: none;
    transition: all 0.2s ease;
    vertical-align: middle;

}

.ActiveButton:hover {
    background: #737d9c;
    border-color: #737d9c;
}

.ActiveButton {
    background-color: #e0280c;
    border-color: #e0280c;
    border: none;
    border-bottom: solid 4px #c0180c;
    color: #fff;
    text-transform: uppercase;

    width: 7rem;
    height: 4rem;
}

.ActiveButton:hover {
    background: #f0382c;
    border-color: #c0180c;
}

.ActiveButton:active {
    background: #c0180c;
}

.ActiveButton .minor {
    border: none;
    color: #c1c1c1;
    display: inline-block;
    padding: 0.5rem;
}

.ActiveButton .minor:hover {
    background: none;
    color: #fff;
}

.ButtonDisabled {
    background: none;
    border: solid 2px #969696;
    color: #969696;

    width: 7rem;
    height: 4rem;
    pointer-events: none;
    text-transform: uppercase;
}

/* .textbox {
    padding: 20px 20px;
    border: 1px solid #eee;
    border-radius: 20px;
    box-shadow: 0 2px 12px 8px rgba(0, 0, 0, 0.4);

    text-align: center;
    font-size: 14px;
    line-height: 1.3;
    font-family: 'Roboto', 'Roboto Slab';
    color: #555;
    box-sizing: border-box;
    background: rgba(255, 255, 255, 0.90);
    max-width: 400px;
    margin: 0 auto;
    padding: 0 10px;
} */