@tailwind base;

@tailwind components;

@tailwind utilities;
* {
  font-family: 'Roboto Slab', serif;
}
body {
  font-family: 'Roboto Slab', serif;
  display: grid;
  grid-template-areas:
    'nav'
    'countdown'
    'button';

  grid-gap: 2rem;

  /* padding-top: 6rem; */
  height: 100%;
  background-color: #1c202a;
  font: normal 13px/20px;
  /* font-family: "Open Sans", sans-serif; */
  font-family: 'Roboto Slab', serif;
  word-wrap: break-word;
  color: #eee;
}

p {
  font-size: 20px;
  margin: 4px;
}
/* Navbar*/
.navbar {
  grid-area: 'nav';
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;
  background-color: #1c202a;
  color: white;
  text-decoration: none;
  /* position: fixed; */
  width: 100%;
  margin-top: 0;
  padding: 0;
}

.link {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  color: inherit;
  text-decoration: inherit;
}

.text-link {
  color: inherit;
  text-decoration: inherit;
}

.link:hover,
.link:focus,
.dropdown:hover .dropbtn {
  background-color: red;
  color: inherit;
  text-decoration: inherit;
}
.countdown {
  background: #222;
  background-image: -webkit-linear-gradient(top, #222, #333, #333, #222);
  background-image: -moz-linear-gradient(top, #222, #333, #333, #222);
  background-image: -ms-linear-gradient(top, #222, #333, #333, #222);
  background-image: -o-linear-gradient(top, #222, #333, #333, #222);
  border: 1px solid #111;
  border-radius: 5px;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.6);
  margin: auto;
}

.countdown:before {
  content: '';
  width: 8px;
  height: 65px;
  background: #444;
  background-image: -webkit-linear-gradient(top, #555, #444, #444, #555);
  background-image: -moz-linear-gradient(top, #555, #444, #444, #555);
  background-image: -ms-linear-gradient(top, #555, #444, #444, #555);
  background-image: -o-linear-gradient(top, #555, #444, #444, #555);
  border: 1px solid #111;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  display: block;
  position: absolute;
  top: 48px;
  left: -10px;
}

.countdown:after {
  content: '';
  width: 8px;
  height: 65px;
  background: #444;
  background-image: -webkit-linear-gradient(top, #555, #444, #444, #555);
  background-image: -moz-linear-gradient(top, #555, #444, #444, #555);
  background-image: -ms-linear-gradient(top, #555, #444, #444, #555);
  background-image: -o-linear-gradient(top, #555, #444, #444, #555);
  border: 1px solid #111;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  display: block;
  position: absolute;
  top: 48px;
  right: -10px;
}

.whitebox {
  width: 92px;
  max-width: 92px;
  text-align: center;
  color: #111;
  background-color: #ddd;
  background-image: -webkit-linear-gradient(top, #bbb, #eee);
  background-image: -moz-linear-gradient(top, #bbb, #eee);
  background-image: -ms-linear-gradient(top, #bbb, #eee);
  background-image: -o-linear-gradient(top, #bbb, #eee);
  border-top: 1px solid #fff;
  border-radius: 3px;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.7);
  margin: 0 7px;
  padding: 7px 0;
  display: inline-block;
  position: relative;
}

.whitebox:before {
  content: '';
  width: 100%;
  height: 13px;
  background: #111;
  display: block;
  padding: 0 3px;
  position: absolute;
  top: 41%;
  left: -3px;
  z-index: -1;
}

.whitebox:after {
  content: '';
  width: 100%;
  height: 1px;
  background: #eee;
  border-top: 1px solid #333;
  display: block;
  position: absolute;
  top: 48%;
  left: 0;
}

li {
  width: 102px;
  font: bold 20px 'Roboto Slab';
  color: #f47321;
  text-shadow: 1px 1px 0px #000;
  text-align: center;
  text-transform: uppercase;
  display: inline-block;
}

p {
  font-size: 20px;
  margin: 4px;
}

.buttonBlock {
  /* font: normal 13px/20px;
      font-family: "Open Sans", sans-serif;
      word-wrap: break-word;
      color: #eee; */
  grid-area: button;
  padding-top: 20px;
  padding-bottom: 50px;
  text-align: center;
}

.ActiveButton,
.ButtonDisabled {
  list-style-type: none;
  margin-bottom: 1rem;
  margin-bottom: 0;

  border: solid 2px #fff;
  border-radius: 4px;
  color: #fff;
  display: inline-block;
  font-weight: 800;
  font-size: 1.3rem;
  padding: 1rem;
  /* padding: calc(1rem - 2px); */
  text-decoration: none;
  transition: all 0.2s ease;
  vertical-align: middle;
  width: 7.2rem;
  height: 4rem;
}

.ActiveButton:hover {
  background: #737d9c;
  border-color: #737d9c;
}

.ActiveButton {
  background-color: #e0280c;
  border-color: #e0280c;
  border: none;
  border-bottom: solid 4px #c0180c;
  color: #fff;
}

.ActiveButton:hover {
  background: #f0382c;
  border-color: #c0180c;
}

.ActiveButton:active {
  background: #c0180c;
}

.ActiveButton .minor {
  border: none;
  color: #c1c1c1;
  display: inline-block;
  padding: 0.5rem;
}

.ActiveButton .minor:hover {
  background: none;
  color: #fff;
}

.ButtonDisabled {
  background: none;
  border: solid 2px #969696;
  color: #969696;
  pointer-events: none;
}

.logo-container {
  justify-items: center;
  align-items: center;
}

.signin-container {
  /* display: flex; */
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
}

.slogon {
  margin-bottom: 0rem;
  margin-top: 1rem;
}

.wisdom-line__One {
  margin-bottom: 0.2rem;
  margin-top: 1rem;
}

.wisdom-line__Two {
  margin-bottom: 1rem;
  margin-top: 0.2rem;
}

.foot {
  grid-area: foot;
  /* display: flex; */
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
}
.head {
  width: 100px;
  text-align: center;
}

.cell {
  width: 100px;
  text-align: center;
}

.sessiontable__tr {
  width: 100px;
}

.sessiontable__tr__content {
  width: 100px;
  /* display: flex;
    flex-direction: row-reverse; */
}

.sessiontable {
  /* display: flex;
    flex-direction: row-reverse; */
  display: grid;
  align-items: center;
  justify-items: center;
}

.table > thead > tr,
.table > tbody > tr,
.table > tfoot > tr {
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.table > thead > tr > th,
.table > thead > tr > td,
.table > tbody > tr > th,
.table > tbody > tr > td,
.table > tfoot > tr > th,
.table > tfoot > tr > td {
  text-align: center;
  padding: 0.5rem;
  vertical-align: top;
  border-top: 0;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.table > thead > tr > th {
  font-weight: bold;
  color: #757575;
  vertical-align: bottom;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  text-transform: uppercase;
}
.table > caption + thead > tr:first-child > th,
.table > caption + thead > tr:first-child > td,
.table > colgroup + thead > tr:first-child > th,
.table > colgroup + thead > tr:first-child > td,
.table > thead:first-child > tr:first-child > th,
.table > thead:first-child > tr:first-child > td {
  border-top: 0;
}

.table > tbody + tbody {
  border-top: 1px solid rgba(0, 0, 0, 0.12);
}

.table .table {
  background-color: #fff;
}

.table .no-border {
  border: 0;
}

.table-condensed > thead > tr > th,
.table-condensed > thead > tr > td,
.table-condensed > tbody > tr > th,
.table-condensed > tbody > tr > td,
.table-condensed > tfoot > tr > th,
.table-condensed > tfoot > tr > td {
  padding: 0.8rem;
}

.table-bordered {
  border: 0;
}

.table-bordered > thead > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > tbody > tr > th,
.table-bordered > tbody > tr > td,
.table-bordered > tfoot > tr > th,
.table-bordered > tfoot > tr > td {
  border: 0;
  border-bottom: 1px solid #e0e0e0;
}

.table-bordered > thead > tr > th,
.table-bordered > thead > tr > td {
  border-bottom-width: 2px;
}

.table-striped > tbody > tr:nth-child(odd) > td,
.table-striped > tbody > tr:nth-child(odd) > th {
  background-color: #f5f5f5;
}

.table-hover > tbody > tr:hover > td,
.table-hover > tbody > tr:hover > th {
  background-color: rgba(0, 0, 0, 0.12);
}

@media screen and (max-width: 768px) {
  .table-responsive-vertical > .table {
    margin-bottom: 0;
    background-color: transparent;
  }

  .table-responsive-vertical > .table > thead,
  .table-responsive-vertical > .table > tfoot {
    display: none;
  }

  .table-responsive-vertical > .table > tbody {
    display: block;
  }

  .table-responsive-vertical > .table > tbody > tr {
    display: block;
    border: 1px solid #e0e0e0;
    border-radius: 2px;
    margin-bottom: 1.6rem;
  }

  .table-responsive-vertical > .table > tbody > tr > td {
    background-color: #fff;
    display: block;
    vertical-align: middle;
    text-align: right;
  }

  .table-responsive-vertical > .table > tbody > tr > td[data-title]:before {
    content: attr(data-title);
    float: left;
    font-size: inherit;
    font-weight: 400;
    color: #757575;
  }

  .table-responsive-vertical.shadow-z-1 {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }

  .table-responsive-vertical.shadow-z-1 > .table > tbody > tr {
    border: none;
    -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12),
      0 1px 2px 0 rgba(0, 0, 0, 0.24);
    -moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12),
      0 1px 2px 0 rgba(0, 0, 0, 0.24);
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
  }

  .table-responsive-vertical > .table-bordered {
    border: 0;
  }

  .table-responsive-vertical > .table-bordered > tbody > tr > td {
    border: 0;
    border-bottom: 1px solid #e0e0e0;
  }

  .table-responsive-vertical > .table-bordered > tbody > tr > td:last-child {
    border-bottom: 0;
  }

  .table-responsive-vertical > .table-striped > tbody > tr > td,
  .table-responsive-vertical > .table-striped > tbody > tr:nth-child(odd) {
    background-color: #fff;
  }

  .table-responsive-vertical > .table-striped > tbody > tr > td:nth-child(odd) {
    background-color: #f5f5f5;
  }

  .table-responsive-vertical > .table-hover > tbody > tr:hover > td,
  .table-responsive-vertical > .table-hover > tbody > tr:hover {
    background-color: #fff;
  }

  .table-responsive-vertical > .table-hover > tbody > tr > td:hover {
    background-color: rgba(0, 0, 0, 0.12);
  }
}

.table-striped.table-mc-red > tbody > tr:nth-child(odd) > td,
.table-striped.table-mc-red > tbody > tr:nth-child(odd) > th {
  background-color: #fde0dc;
}

.table-hover.table-mc-red > tbody > tr:hover > td,
.table-hover.table-mc-red > tbody > tr:hover > th {
  background-color: #f9bdbb;
}
