{{define "navbar"}}
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/assets/navbar/navbarstyles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <div class="navbar">
        {{if .User}}
        <a href="/logout">Logout</a>
        {{else}}
        <a href="/signinandsignup">Signup</a>
        {{end}}
        {{if .User}}
        <a href="/timer">Timer</a>
        {{end}}
        {{if .User}}
        <a href="/">Date-Pick</a>
        {{end}}
    </div>
</body>

</html>
{{end}}