.logo-container {

    justify-items: center;
    align-items: center;

}

.signin-container {
    /* display: flex; */
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
}



.slogon {
    margin-bottom: 0rem;
    margin-top: 1rem;

}

.wisdom-line__One {
    margin-bottom: 0.2rem;
    margin-top: 1rem;
}

.wisdom-line__Two {
    margin-bottom: 1rem;
    margin-top: 0.2rem;
}